<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/69a742ca-6f10-45b2-b83e-4728f8a61dd2/resourceGroups/GrupoRecurso-FormaSaudavel/providers/Microsoft.Web/sites/FormaSaudavel</ResourceId>
    <ResourceGroup>GrupoRecurso-FormaSaudavel</ResourceGroup>
    <ApiResourceId>/subscriptions/69a742ca-6f10-45b2-b83e-4728f8a61dd2/resourceGroups/GrupoRecurso-FormaSaudavel/providers/Microsoft.ApiManagement/service/API-FormaSaudavel/apis/FormaSaudavel-API</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://formasaudavel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>74ebbcdf-e20d-44c1-9764-6a8bcb3e2807</ProjectGuid>
    <MSDeployServiceURL>formasaudavel.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FormaSaudavel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$FormaSaudavel</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>